
$colorAzul: hsl(238, 40%, 52%);
$colorRojo: hsl(358, 79%, 66%);

$colorGris: hsl(239, 57%, 85%);
$colorRojoPalido: hsl(357, 100%, 86%);
$colorGrisLight: hsl(223, 19%, 93%);

$fuentePrincipal: 'Rubik', sans-serif;